Repository jwillz7667/quantum-architect-dankdeals, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, components, pages, styles, backend, database, edge-functions, tests, e2e, config, ci/cd, dependencies, documentation

.github/labeler.yml:

# Configuration for auto-labeling PRs based on changed files

# Frontend labels
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.{ts,tsx,js,jsx}'
      - 'src/**/*.css'
      - 'public/**/*'

components:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'

pages:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/pages/**/*'

styles:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.css'
      - 'tailwind.config.ts'
      - 'postcss.config.js'

# Backend labels
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/**/*'
      - 'src/integrations/supabase/**/*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/migrations/**/*'

edge-functions:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/functions/**/*'

# Testing labels
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.{ts,tsx,js,jsx}'
      - '**/*.spec.{ts,tsx,js,jsx}'
      - 'tests/**/*'
      - 'playwright.config.ts'
      - 'vitest.config.ts'

e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/e2e/**/*'
      - 'playwright.config.ts'

# Configuration labels
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.{js,ts}'
      - '.env*'
      - 'package.json'
      - 'tsconfig.json'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation labels
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Type labels based on specific patterns
bug:
  - head-branch:
    - '^fix/.*'
    - '^hotfix/.*'

feature:
  - head-branch:
    - '^feat/.*'
    - '^feature/.*'

enhancement:
  - head-branch:
    - '^enhance/.*'
    - '^improvement/.*'

chore:
  - head-branch:
    - '^chore/.*'
    - '^deps/.*'

fix: properly handle TEXT variant IDs in admin_upsert_product function
  supabase/migrations/20251002000009_fix_variant_id_text_type.sql
Labels: backend, database

fix: resolve email system and implement image upload optimization
  CHECKOUT_EMAIL_AUDIT_FIX.md
  CRITICAL_FIXES_SUMMARY.md
  EMAIL_FIX_SUMMARY.md
  EMAIL_SYSTEM_AUDIT_REPORT.md
  IMAGE_UPLOAD_FIX_SUMMARY.md
  STORAGE_POLICY_FIX_INSTRUCTIONS.md
  SUPABASE_AUDIT_REPORT.md
  src/lib/storage/image-optimizer.ts
  src/lib/storage/supabase-storage.ts
  supabase/functions/_shared/email-queue-processor.ts
  supabase/functions/process-sms-queue/index.ts
  supabase/functions/resend-webhook/index.ts
  supabase/migrations/20251002000010_fix_email_queue_rls_performance.sql
  supabase/migrations/20251002000011_add_inventory_management.sql
  supabase/migrations/20251002000012_update_order_processing_for_variants.sql
  supabase/migrations/20251002000013_allow_public_product_access.sql
  supabase/migrations/20251002000014_fix_product_image_upload.sql
  supabase/migrations/20251002000015_add_sms_notification_system.sql
Labels: frontend, backend, database, edge-functions, documentation

feat: implement comprehensive user settings panel with profile, addresses, and order history
  USER_SETTINGS_IMPLEMENTATION.md
  src/App.tsx
  src/components/settings/AddressForm.tsx
  src/components/settings/AddressSettings.tsx
  src/components/settings/OrderHistory.tsx
  src/components/settings/ProfileSettings.tsx
  src/hooks/useAddresses.ts
  src/hooks/useOrders.ts
  src/hooks/useProfile.ts
  src/pages/UserSettings.tsx
Labels: frontend, components, pages, documentation

feat: add welcome page after login and fix auth redirect flow
  src/App.tsx
  src/pages/Welcome.tsx
  src/pages/auth/AuthCallback.tsx
  src/pages/auth/Login.tsx
Labels: frontend, pages

fix: enhance admin access control and add admin card to profile page
  ADMIN_ACCESS_SECURITY.md
  src/pages/ProfileSimplified.tsx
Labels: frontend, pages, documentation

feat: configure production-ready CI/CD with Netlify and secure secrets
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/database-migrations.yml
  GITHUB_WORKFLOWS_SETUP.md
Labels: ci/cd, documentation

refactor: remove legacy and unused code to improve codebase quality
  CODEBASE_CLEANUP_REPORT.md
  SECRETS_TO_SET.md
  public/sitemap-blog.xml
  public/sitemap-index.xml
  public/sitemap-products.xml
  public/sitemap.xml
  src/pages/CityDelivery.tsx
  src/pages/DeliveryArea.tsx
  src/pages/MapPerformanceDemo.tsx
  src/pages/Profile.tsx
  src/pages/Settings.tsx
  src/pages/checkout/CheckoutAddress.tsx
  src/pages/checkout/CheckoutPayment.tsx
  src/pages/checkout/CheckoutReview.tsx
Labels: frontend, pages, documentation

feat: add comprehensive admin dashboard database migration
  .gitignore
  src/hooks/admin/useAdminDashboard.ts
  src/lib/admin/dashboard-api.ts
  src/lib/react-query/config.ts
  src/pages/admin/AdminDashboard.tsx
  supabase/migrations/20251014000000_admin_dashboard_complete.sql
Labels: frontend, pages, backend, database

chore: update phone number to 612-930-1390
  src/components/DesktopHeader.tsx
  src/components/Footer.tsx
  src/components/MobileHeader.tsx
  src/lib/email.ts
  src/lib/emailService.ts
  src/lib/seo.ts
  src/pages/Cart.tsx
  src/pages/DeliveryAreaSimplified.tsx
  src/pages/Index.tsx
  src/pages/checkout/CheckoutComplete.tsx
Labels: frontend, components, pages

feat: major UI/UX refresh and enterprise migrations
  deno.lock
  package-lock.json
  package.json
  public/logos/Dankdeals-logo-new.svg
  src/components/BottomNav.tsx
  src/components/HeroSection.tsx
  src/components/product/ProductCard.tsx
  src/components/ui/button-variants.ts
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/index.css
  src/pages/AnalyticsTest.tsx
  src/pages/Blog.tsx
  src/pages/BlogPost.tsx
  src/pages/Categories.tsx
  src/pages/FAQ.tsx
  src/pages/Legal.tsx
  src/pages/NotFound.tsx
  src/pages/Privacy.tsx
  src/pages/ProductDetail.tsx
  src/pages/Terms.tsx
  src/pages/Welcome.tsx
  src/pages/admin/AdminLayout.tsx
  src/pages/auth/AuthCallback.tsx
  src/pages/auth/ForgotPassword.tsx
  src/pages/auth/Login.tsx
  src/pages/auth/Register.tsx
  src/pages/checkout/OnePageCheckout.tsx
  src/styles/dankdeals-theme.css
  supabase/.temp/gotrue-version
  supabase/migrations/20251012000001_enterprise_event_sourcing.sql
  supabase/migrations/20251012000002_enterprise_auth_system.sql
  supabase/migrations/20251012000003_enterprise_inventory_system.sql
  supabase/migrations/20251012000004_enterprise_pricing_system.sql
  supabase/rollback/rollback_sms_migration.sql
  tailwind.config.ts
Labels: frontend, components, pages, styles, backend, database, config, dependencies

fix: resolve infinite recursion in vendor_users RLS policies
  supabase/migrations/20251014000001_fix_vendor_users_infinite_recursion.sql
Labels: backend, database

fix: OAuth callback redirects to home page instead of 404
  src/pages/auth/AuthCallback.tsx
Labels: frontend, pages

feat: add saved addresses to checkout for signed-in users
  src/hooks/useAddresses.ts
  src/pages/checkout/OnePageCheckout.tsx
Labels: frontend, pages

feat: comprehensive order history with downloadable itemized receipts
  src/pages/Orders.tsx
Labels: frontend, pages

feat: add auto-rotating promotional banners with Swiper.js
  src/components/PromoBanner.tsx
  src/pages/Index.tsx
Labels: frontend, components, pages

style: enhance logo shadow for lifted depth effect
  src/components/DesktopHeader.tsx
  src/components/MobileHeader.tsx
Labels: frontend, components

chore: add swiper dependency and fix security vulnerabilities
  package-lock.json
  package.json
Labels: config, dependencies

chore: fix Netlify build - revert to Vite 5.x and update Node version
  .nvmrc
  package-lock.json
  package.json
Labels: config, dependencies

fix: add data: to font-src CSP for Swiper fonts
  netlify.toml
Labels: none

refactor: remove hero section from homepage
  src/pages/Index.tsx
Labels: frontend, pages

fix: add comprehensive logging for product image uploads
  src/components/admin/ProductImageUpload.tsx
  src/pages/admin/components/AdminProductForm.tsx
Labels: frontend, components, pages

fix: comprehensive logging for product image upload flow
  src/components/admin/ProductImageUpload.tsx
  src/components/ui/image-upload.tsx
  src/lib/storage/supabase-storage.ts
Labels: frontend, components

fix: add proper bottom padding to all pages for navbar clearance
  public/test-upload.html
  src/pages/Blog.tsx
  src/pages/BlogPost.tsx
  src/pages/Cart.tsx
  src/pages/FAQ.tsx
  src/pages/Index.tsx
  src/pages/Legal.tsx
  src/pages/Orders.tsx
  src/pages/Privacy.tsx
  src/pages/ProductDetail.tsx
  src/pages/ProfileSimplified.tsx
  src/pages/Terms.tsx
  src/pages/UserSettings.tsx
  src/pages/checkout/CheckoutComplete.tsx
  src/pages/checkout/OnePageCheckout.tsx
Labels: frontend, pages

fix: require product save before image upload to ensure correct UUID paths
  src/components/admin/ProductImageUpload.tsx
  src/pages/admin/AdminProductEditor.tsx
  src/pages/admin/components/AdminProductForm.tsx
Labels: frontend, components, pages

fix: wrap adjacent JSX elements in fragment
  src/pages/admin/components/AdminProductForm.tsx
Labels: frontend, pages

fix: prevent blob URLs from being saved to database
  src/components/ui/image-upload.tsx
Labels: frontend, components

feat: comprehensive SEO enhancements with competitor blog post and enterprise sitemap generation
  SEO_ENHANCEMENTS_SUMMARY.md
  docs/SEO_IMPLEMENTATION.md
  public/sitemap-blog.xml
  public/sitemap-index.xml
  public/sitemap.xml
  scripts/generate-sitemap.js
  src/data/blogPosts.ts
Labels: frontend, documentation

fix: critical image upload bug - prevent blob URLs from being saved to database
  src/components/admin/ProductImageUpload.tsx
  src/pages/admin/components/AdminProductForm.tsx
Labels: frontend, components, pages

feat: enterprise-grade image upload system with retry logic, progress tracking, and validation
  ADMIN_ACCESS_SECURITY.md
  ADMIN_PRODUCT_AUDIT.md
  AGENTS.md
  CHECKOUT_EMAIL_AUDIT_FIX.md
  CODEBASE_CLEANUP_REPORT.md
  CRITICAL_FIXES_SUMMARY.md
  EMAIL_FIX_SUMMARY.md
  EMAIL_SYSTEM_AUDIT_REPORT.md
  GITHUB_WORKFLOWS_SETUP.md
  IMAGE_UPLOAD_FIX_SUMMARY.md
  PAGINATION_IMPLEMENTATION.md
  RESEND_WEBHOOK_SETUP.md
  SECRETS_TO_SET.md
  SECURITY.md
  SEO_ENHANCEMENTS_SUMMARY.md
  STORAGE_POLICY_FIX_INSTRUCTIONS.md
  SUPABASE_AUDIT_REPORT.md
  USER_SETTINGS_IMPLEMENTATION.md
  src/__tests__/integration/product-image-upload.integration.test.tsx
  src/components/admin/ProductImageUpload.tsx
  src/components/admin/__tests__/ProductImageUpload.test.tsx
  src/lib/validation/image-url-validator.ts
Labels: frontend, components, tests, documentation

feat: add coming soon waitlist
  src/App.tsx
  src/pages/ComingSoon.tsx
  src/services/waitlist.ts
  supabase/functions/README.md
  supabase/functions/launch-waitlist/index.ts
  supabase/migrations/20260307000000_create_launch_waitlist.sql
Labels: frontend, pages, backend, database, edge-functions, documentation
