Repository jwillz7667/quantum-architect-dankdeals, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, components, pages, styles, backend, database, edge-functions, tests, e2e, config, ci/cd, dependencies, documentation

feat: add Google Tag Manager integration
  index.html
  netlify.toml
  src/App.tsx
  src/components/GTMTracker.tsx
  src/lib/gtm.ts
Labels: frontend, components

fix: resolve checkout edge function errors and database schema issues
  CHECKOUT_DEBUG_GUIDE.md
  CHECKOUT_FIX_DEPLOYMENT.md
  CLAUDE.md
  scripts/apply-checkout-migration.sh
  scripts/fix-checkout-functions.sh
  scripts/rollback-checkout-functions.sh
  supabase/functions/create-order/index-fixed.ts
  supabase/migrations/20240802_logos_storage_policies.sql
  supabase/migrations/20250804000000_ensure_order_items_columns.sql
Labels: backend, database, edge-functions, documentation

fix: resolve TypeScript errors in all edge functions
  supabase/functions/README.md
  supabase/functions/create-order/index-fixed.ts
  supabase/functions/create-order/index.ts
  supabase/functions/resend-webhook/index.ts
  supabase/functions/send-order-emails/index.ts
  supabase/functions/test-admin-email/index.ts
  supabase/functions/tsconfig.json
Labels: backend, edge-functions, documentation

feat: add Google Maps to delivery area card on homepage
  src/components/DeliveryAreaMap.tsx
  src/pages/Index.tsx
Labels: frontend, components, pages

fix: resolve Google Maps CSP error and add primary-inverted button variant
  netlify.toml
  public/logo-master-trans.png
  public/logo-master.png
  public/logos/white-logo-trans.png
  public/logos/white-logo-trans.svg
  src/components/ui/button-variants.ts
Labels: frontend, components

fix: resolve create-order 500 error by adding missing order_items fields
  scripts/fix-order-items-columns.sql
  scripts/test-order-items-schema.js
  src/pages/Index.tsx
  supabase/functions/create-order/index.ts
  supabase/migrations/20250203_fix_order_items_columns.sql
Labels: frontend, pages, backend, database, edge-functions

UI/UX improvements: Fix bottom navbar overlap and update styling
  src/components/BottomNav.tsx
  src/components/DesktopHeader.tsx
  src/components/Footer.tsx
  src/components/product/ProductCard.tsx
  src/components/product/ProductPrice.tsx
  src/index.css
  src/pages/Blog.tsx
  src/pages/BlogPost.tsx
  src/pages/Categories.tsx
  src/pages/CityDelivery.tsx
  src/pages/CityDeliverySimplified.tsx
  src/pages/DeliveryArea.tsx
  src/pages/DeliveryAreaSimplified.tsx
  src/pages/FAQ.tsx
  src/pages/Index.tsx
  src/pages/Legal.tsx
  src/pages/Orders.tsx
  src/pages/Privacy.tsx
  src/pages/ProductDetail.tsx
  src/pages/Profile.tsx
  src/pages/ProfileSimplified.tsx
  src/pages/Settings.tsx
  src/pages/Terms.tsx
  src/pages/checkout/CheckoutAddress.tsx
  src/pages/checkout/CheckoutComplete.tsx
  src/pages/checkout/CheckoutPayment.tsx
  src/pages/checkout/CheckoutReview.tsx
  src/pages/checkout/OnePageCheckout.tsx
Labels: frontend, components, pages, styles

Performance optimizations: Improve image sizing and reduce unused JavaScript
  index.html
  src/components/DeliveryAreaMap.tsx
  src/lib/supabase-image.ts
  src/pages/Index.tsx
Labels: frontend, components, pages

feat: Add comprehensive map fallback to homepage delivery section
  src/components/DeliveryAreaMap.tsx
Labels: frontend, components

fix: Simplify map fallback to prevent site breakage
  CHECKOUT_DEBUG_GUIDE.md
  CHECKOUT_FIX_DEPLOYMENT.md
  CLAUDE.md
  EMAIL_TROUBLESHOOTING.md
  GOOGLE_MAPS_SETUP.md
  IMPROVEMENT_CHECKLIST.md
  NETLIFY_SETUP.md
  setup-google-oauth.sh
  src/components/DeliveryAreaMap.tsx
Labels: frontend, components, documentation

fix: Remove MapPin import that was breaking the site
  src/components/DeliveryAreaMap.tsx
Labels: frontend, components

fix: Add back setHasError to show fallback when API key missing
  src/components/DeliveryAreaMap.tsx
Labels: frontend, components

revert: Restore DeliveryAreaMap to original state before fallback changes
  src/components/DeliveryAreaMap.tsx
Labels: frontend, components

fix: Update frontend to use new process-order edge function
  scripts/test-process-order.js
  src/pages/checkout/OnePageCheckout.tsx
Labels: frontend, pages

fix: Complete order processing and email system integration
  scripts/check-email-queue-status.js
  scripts/check-email-queue.js
  scripts/check-product-stock.js
  scripts/check-resend-domain.js
  scripts/debug-email-send.js
  scripts/manual-send-email.js
  scripts/process-stuck-emails.js
  scripts/test-email-debug.js
  scripts/test-email-processor.js
  scripts/test-email-queue.js
  scripts/test-order-full.js
  scripts/test-order-items-schema.js
  scripts/test-order-simple.js
  scripts/test-resend-directly.js
  supabase/functions/_shared/email-queue-processor.ts
  supabase/functions/_shared/email-service.ts
  supabase/functions/process-order-debug/index.ts
  supabase/functions/test-email-send/index.ts
  supabase/migrations/20240807000001_add_missing_order_columns.sql
Labels: backend, database, edge-functions

cleanup: Remove unnecessary test and debug scripts
  scripts/LOGO_STORAGE_SETUP.md
  scripts/apply-checkout-migration.sh
  scripts/check-email-queue-status.js
  scripts/check-email-queue.js
  scripts/check-product-stock.js
  scripts/check-resend-domain.js
  scripts/check-schema.js
  scripts/create-missing-tables.sh
  scripts/debug-email-send.js
  scripts/debug-oauth.js
  scripts/fix-checkout-functions.sh
  scripts/manual-send-email.js
  scripts/process-stuck-emails.js
  scripts/rollback-checkout-functions.sh
  scripts/setup-google-oauth.md
  scripts/test-admin-email.js
  scripts/test-email-debug.js
  scripts/test-email-processor.js
  scripts/test-email-queue.js
  scripts/test-notification-preferences.js
  scripts/test-order-full.js
  scripts/test-order-items-schema.js
  scripts/test-order-simple.js
  scripts/test-process-order.js
  scripts/test-profile-functionality.js
  scripts/test-resend-direct.js
  scripts/test-resend-directly.js
Labels: documentation

cleanup: Remove unnecessary files from project root
  GOOGLE_ANALYTICS_SETUP.md
  clear-cart.js
  optimize-logos.js
  products
  schema.sql
  supabase/functions/process-order-debug/index.ts
  supabase/functions/test-admin-email/index.ts
  supabase/functions/test-email-send/index.ts
  supabase/migrations_backup/20240802_logos_storage_policies.sql
  supabase/migrations_backup/20240804_update_email_queue_structure.sql
  supabase/migrations_backup/20240805_create_order_processing_tables.sql
  supabase/migrations_backup/20240806_comprehensive_order_system_setup.sql
  supabase/migrations_backup/20250124000000_create_base_schema.sql
  supabase/migrations_backup/20250125000000_setup_auth_triggers.sql
  supabase/migrations_backup/20250126000000_order_email_trigger.sql
  supabase/migrations_backup/20250127000000_email_logging_tables_v2.sql
  supabase/migrations_backup/20250128000000_enable_guest_orders.sql
  supabase/migrations_backup/20250130000000_add_customer_email_to_orders.sql
  supabase/migrations_backup/20250131000000_update_orders_for_checkout.sql
  supabase/migrations_backup/20250203_fix_order_items_columns.sql
  supabase/migrations_backup/20250731000000_checkout_fix.sql
  supabase/migrations_backup/20250731000001_fix_order_items_columns.sql
  supabase/migrations_backup/20250801000000_fix_missing_order_columns.sql
  supabase/migrations_backup/20250804000000_ensure_order_items_columns.sql
Labels: backend, edge-functions, documentation

feat: Implement modern image optimization for better Lighthouse scores
  public/sitemap-blog.xml
  public/sitemap-products.xml
  public/sitemap.xml
  src/components/OptimizedProductImage.tsx
  src/components/product/ProductCard.tsx
  src/components/product/ProductGrid.tsx
  src/components/product/ProductImage.tsx
  src/hooks/useIntersectionObserver.ts
  src/lib/imagePreloader.ts
  src/lib/supabase-image.ts
Labels: frontend, components

feat: Implement admin dashboard with optimized code splitting
  ADMIN_GUIDE.md
  index.html
  package-lock.json
  package.json
  public/sitemap-blog.xml
  public/sitemap-products.xml
  public/sitemap.xml
  scripts/create-admin-user.js
  src/App.tsx
  src/admin/AdminAppBar.tsx
  src/admin/AdminLayout.tsx
  src/admin/Dashboard.tsx
  src/admin/authProvider.ts
  src/admin/index.tsx
  src/admin/resources/categories/CategoryCreate.tsx
  src/admin/resources/categories/CategoryEdit.tsx
  src/admin/resources/categories/CategoryList.tsx
  src/admin/resources/categories/index.ts
  src/admin/resources/orders/OrderList.tsx
  src/admin/resources/orders/OrderShow.tsx
  src/admin/resources/orders/index.ts
  src/admin/resources/products/ProductCreate.tsx
  src/admin/resources/products/ProductEdit.tsx
  src/admin/resources/products/ProductList.tsx
  src/admin/resources/products/ProductShow.tsx
  src/admin/resources/products/index.ts
  src/admin/theme.ts
  src/admin/utils/imageUpload.ts
  src/components/admin/AdminRoute.tsx
  src/pages/admin/AdminLoader.tsx
  supabase/migrations/20250804000001_admin_roles.sql
  vite.config.ts
Labels: frontend, components, pages, backend, database, config, dependencies, documentation

fix: Disable Netlify HTML optimization plugins that break ES modules
  netlify.toml
Labels: none

perf: Optimize build chunking and fix empty chunks
  vite.config.ts
Labels: config

fix: Remove invalid plugin configurations from netlify.toml
  netlify.toml
Labels: none

fix: Bundle React and ReactDOM together to prevent loading order issues
  vite.config.ts
Labels: config

feat: Optimize build configuration for best practices
  package.json
  vite.config.ts
Labels: config, dependencies

fix: Resolve TypeScript errors and improve vendor chunking
  vite.config.ts
Labels: config

feat: Apply Vite 5 best practices to configuration
  vite.config.ts
Labels: config

fix: Resolve all TypeScript errors for production build
  src/admin/index.tsx
  src/admin/resources/orders/OrderList.tsx
  src/admin/resources/products/ProductList.tsx
  src/components/DeliveryAreaMap.tsx
  src/components/OptimizedProductImage.tsx
  src/hooks/useIntersectionObserver.ts
  src/lib/google-analytics.ts
  src/lib/gtm.ts
  src/lib/imagePreloader.ts
  src/lib/webVitals.ts
  src/pages/admin/AdminLoader.tsx
  supabase/functions/import_map.json
  supabase/functions/tsconfig.json
  tsconfig.json
Labels: frontend, components, pages, backend, edge-functions, config

fix: Use default CSS minifier to fix Netlify build
  package-lock.json
  package.json
  vite.config.ts
Labels: config, dependencies

feat: Configure build scripts for industry best practices
  .depcheckrc
  .env.example
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .size-limit.json
  .stylelintrc.json
  Dockerfile
  commitlint.config.js
  netlify.toml
  nginx.conf
  package.json
  public/_headers
  scripts/build-production.js
  scripts/validate-env.js
  tsconfig.json
  tsconfig.node.json
  vitest.config.ts
Labels: frontend, tests, config, dependencies

fix: Improve build scripts and resolve build warnings
  .size-limit.json
  netlify.toml
  package-lock.json
  package.json
  scripts/build-production.js
  vite.config.ts
Labels: config, dependencies

fix: Remove NODE_ENV from Netlify build environment
  netlify.toml
Labels: none

feat: Enhance Vite chunking with Rollup best practices
  tsconfig.node.json
  vite-chunking.ts
  vite.config.ts
Labels: config

fix: Resolve Netlify secrets scanning for Google Maps API
  .env.example
  netlify.toml
  package.json
  scripts/check-api-keys.js
  src/components/DeliveryAreaMap.tsx
Labels: frontend, components, config, dependencies

feat: Remove entire Google Maps implementation
  .env.example
  netlify.toml
  package-lock.json
  package.json
  scripts/check-api-keys.js
  scripts/validate-env.js
  src/components/DeliveryAreaMap.tsx
  src/components/DeliveryMap.tsx
  src/pages/CityDeliverySimplified.tsx
  src/pages/DeliveryAreaSimplified.tsx
  src/pages/Index.tsx
Labels: frontend, components, pages, config, dependencies

fix: Disable Lighthouse plugin to fix Netlify build
  netlify.toml
Labels: none

fix: Fix production build issues - preserve console.error and handle Node.js modules
  package-lock.json
  package.json
  vite.config.ts
Labels: config, dependencies

fix: Optimize build chunking to reduce small chunks
  vite-chunking.ts
  vite.config.ts
Labels: config

fix: Fix production site loading issues
  public/_headers
  vite.config.ts
Labels: frontend, config

fix: Resolve module initialization errors
  public/_headers
  vite-chunking.ts
Labels: frontend

fix: Resolve Node.js module externalization warnings
  package-lock.json
  package.json
  vite-chunking.ts
  vite.config.ts
Labels: config, dependencies

.github/labeler.yml:

# Configuration for auto-labeling PRs based on changed files

# Frontend labels
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.{ts,tsx,js,jsx}'
      - 'src/**/*.css'
      - 'public/**/*'

components:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'

pages:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/pages/**/*'

styles:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.css'
      - 'tailwind.config.ts'
      - 'postcss.config.js'

# Backend labels
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/**/*'
      - 'src/integrations/supabase/**/*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/migrations/**/*'

edge-functions:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/functions/**/*'

# Testing labels
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.{ts,tsx,js,jsx}'
      - '**/*.spec.{ts,tsx,js,jsx}'
      - 'tests/**/*'
      - 'playwright.config.ts'
      - 'vitest.config.ts'

e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/e2e/**/*'
      - 'playwright.config.ts'

# Configuration labels
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.{js,ts}'
      - '.env*'
      - 'package.json'
      - 'tsconfig.json'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation labels
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Type labels based on specific patterns
bug:
  - head-branch:
    - '^fix/.*'
    - '^hotfix/.*'

feature:
  - head-branch:
    - '^feat/.*'
    - '^feature/.*'

enhancement:
  - head-branch:
    - '^enhance/.*'
    - '^improvement/.*'

chore:
  - head-branch:
    - '^chore/.*'
    - '^deps/.*'
