Repository jwillz7667/quantum-architect-dankdeals, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, components, pages, styles, backend, database, edge-functions, tests, e2e, config, ci/cd, dependencies, documentation

fix: Update Node.js version and fix env loading
  .nvmrc
  netlify.toml
  package.json
  scripts/generate-sitemap.js
Labels: config, dependencies

fix: Update Node.js version to 20 for cross-env compatibility
  .cache/eslint
  .nvmrc
  netlify.toml
Labels: none

fix: CSP and PWA icon paths
  netlify.toml
  vite.config.ts
Labels: config

perf: Major performance optimizations for Lighthouse score
  index.html
  netlify.toml
  src/App.tsx
  src/components/GTMTracker.tsx
  src/components/ui/optimized-image.tsx
  src/lib/lazyWithPrefetch.ts
  vite-chunking.ts
  vite.config.ts
Labels: frontend, components, config

perf: Implement comprehensive Google Maps performance optimizations
  package-lock.json
  package.json
  src/components/DeliveryAreaMap.tsx
  src/components/DeliveryMap.tsx
  src/components/OptimizedDeliveryMap.tsx
  src/components/OptimizedProductImage.tsx
  src/hooks/useIntersectionObserver.ts
  src/lib/google-analytics.ts
  src/lib/gtm.ts
  src/lib/imagePreloader.ts
  src/lib/webVitals.ts
  src/pages/MapPerformanceDemo.tsx
  src/types/global.d.ts
Labels: frontend, components, pages, config, dependencies

feat: Implement comprehensive Google Tag Manager and GA4 analytics
  src/App.tsx
  src/components/AgeGate.tsx
  src/components/analytics/GTMProvider.tsx
  src/hooks/useAnalytics.ts
  src/pages/AnalyticsTest.tsx
  src/pages/ProductDetail.tsx
  src/pages/checkout/OnePageCheckout.tsx
  src/services/analytics.ts
Labels: frontend, components, pages

fix: Update GTM/GA4 CSP headers and resolve React fetchPriority warnings
  netlify.toml
  src/App.tsx
  src/components/OptimizedProductImage.tsx
  src/components/logo/LogoImage.tsx
  src/types/global.d.ts
  vite.config.ts
Labels: frontend, components, config

feat: Improve checkout form with autofill support and phone formatting
  docs/FACEBOOK_AUTH_SETUP.md
  scripts/test-facebook-auth.html
  src/pages/checkout/OnePageCheckout.tsx
  src/utils/phoneFormatter.ts
Labels: frontend, pages, documentation

Fix lint: typed min/max price props in ProductGrid; keep Edge Functions ignored by ESLint as per config
  src/components/CategoriesProductGrid.tsx
  src/components/product/ProductCard.tsx
  src/components/product/ProductGrid.tsx
  supabase/functions/README.md
  supabase/functions/payments-aeropay-create-session/index.ts
  supabase/functions/payments-aeropay-webhook/index.ts
  supabase/functions/payments-stronghold-create-session/index.ts
  supabase/functions/payments-stronghold-webhook/index.ts
  supabase/migrations/20240808000001_payment_events.sql
Labels: frontend, components, backend, database, edge-functions, documentation

chore(edge-functions): configure and deploy order + email queue functions; add scheduled queue workflow; fix email status type; add email_queue migration; add test-admin-email for diagnostics
  .github/workflows/cd.yml
  .github/workflows/process-email-queue.yml
  supabase/functions/_shared/types.ts
  supabase/functions/test-admin-email/index.ts
  supabase/migrations/20240805000001_email_queue.sql
Labels: backend, database, edge-functions, ci/cd

fix(checkout): preserve order number in URL and via location state; avoid redirecting from completion page
  src/pages/checkout/CheckoutComplete.tsx
  src/pages/checkout/OnePageCheckout.tsx
Labels: frontend, pages

fix: resolve TypeScript errors and update tests
  src/__tests__/components/ProductCard.test.tsx
  src/hooks/useAnalytics.ts
  src/lib/lazyWithPrefetch.tsx
  src/lib/orderService.ts
  src/lib/productSchema.ts
  src/pages/ProductDetail.tsx
Labels: frontend, pages, tests

chore: update dependencies and fix sitemap 404 image issues
  .cursor/mcp.json
  CLAUDE.md
  package-lock.json
  package.json
  public/sitemap-blog.xml
  public/sitemap-products.xml
  public/sitemap.xml
  scripts/generate-sitemap.js
  src/integrations/supabase/client.ts
  src/integrations/supabase/types.ts
Labels: frontend, backend, config, dependencies, documentation

chore: update dependencies
  package-lock.json
  package.json
Labels: config, dependencies

Refactor: Update sitemaps and Vercel config
  public/sitemap-blog.xml
  public/sitemap-index.xml
  public/sitemap-products.xml
  public/sitemap.xml
  scripts/generate-sitemap.js
  vercel.json
Labels: frontend

feat: Configure Netlify for SEO and build improvements
  netlify.toml
Labels: none

Fix: Improve build command and sitemap generation
  netlify.toml
  scripts/generate-sitemap.js
Labels: none

feat: scaffold admin product dashboard
  AGENTS.md
  src/App.tsx
  src/hooks/admin/useAdminProducts.ts
  src/integrations/supabase/client.ts
  src/integrations/supabase/types.ts
  src/lib/admin/__tests__/products.test.ts
  src/lib/admin/products.ts
  src/lib/react-query/config.ts
  src/pages/admin/AdminDashboard.tsx
  src/pages/admin/AdminLayout.tsx
  src/pages/admin/AdminProductEditor.tsx
  src/pages/admin/AdminProducts.tsx
  src/pages/admin/components/AdminProductForm.tsx
  src/pages/admin/components/__tests__/AdminProductForm.test.tsx
  supabase/migrations/20250919194000_c7d8f9aa-b1b2-43ab-8e3d-af5f0b9d1234.sql
  supabase/rollback/20250919194000_c7d8f9aa-b1b2-43ab-8e3d-af5f0b9d1234.sql
  tests/e2e/admin.spec.ts
Labels: frontend, pages, backend, database, tests, e2e, documentation

fix: surface admin entrypoint and stabilize rollup build
  package.json
  scripts/ensure-rollup-binary.cjs
  src/components/DesktopHeader.tsx
  src/components/MobileHeader.tsx
  supabase/.temp/cli-latest
  supabase/.temp/storage-version
Labels: frontend, components, backend, config, dependencies

test: tighten admin product form payload assertion
  src/pages/admin/components/__tests__/AdminProductForm.test.tsx
Labels: frontend, pages, tests

build: make rollup binary check non-fatal
  scripts/ensure-rollup-binary.cjs
Labels: none

build: always publish sitemap index
  public/sitemap-blog.xml
  public/sitemap-index.xml
  public/sitemap-products.xml
  public/sitemap.xml
  scripts/generate-sitemap.js
Labels: frontend

feat: add automated email queue system with monitoring
  docs/configure-email-automation-FIXED.md
  docs/configure-email-automation.md
  docs/email-queue-monitoring.md
  docs/email-queue-setup.md
  src/pages/admin/components/__tests__/AdminProductForm.test.tsx
  supabase/migrations/20251001000001_setup_email_queue_automation.sql
  supabase/migrations/20251001000002_setup_email_queue_token.sql
  supabase/migrations/20251001000003_fix_email_automation_permissions.sql
  supabase/migrations/20251001000004_set_queue_token.sql
  supabase/migrations/20251001000005_fix_rls_policies.sql
Labels: frontend, pages, backend, database, tests, documentation

fix: disable RLS on products for public access
  supabase/migrations/20251001000006_disable_rls_products.sql
Labels: backend, database

security: fix critical admin authorization vulnerabilities
  docs/fixes.md
  package-lock.json
  src/components/DesktopHeader.tsx
  src/components/MobileHeader.tsx
  src/components/auth/ProtectedRoute.tsx
  src/hooks/useIsAdmin.ts
  supabase/.temp/cli-latest
  supabase/migrations/20251001000007_secure_rls_policies.sql
Labels: frontend, components, backend, database, dependencies, documentation

feat: implement pagination for product listings
  PAGINATION_IMPLEMENTATION.md
  src/components/CategoriesProductGridPaginated.tsx
  src/components/ProductGrid.tsx
  src/components/product/PaginatedProductGrid.tsx
  src/components/product/ProductGrid.tsx
  src/hooks/usePaginatedProducts.tsx
  src/hooks/useProducts.tsx
  src/pages/Categories.tsx
Labels: frontend, components, pages, documentation

feat: add image upload functionality to admin product form
  docs/STORAGE_SETUP.md
  package-lock.json
  package.json
  src/components/admin/ProductImageUpload.tsx
  src/components/ui/image-upload.test.tsx
  src/components/ui/image-upload.tsx
  src/components/ui/progress.tsx
  src/lib/storage/supabase-storage.ts
  src/pages/admin/components/AdminProductForm.tsx
  src/types/image-upload.ts
  supabase/migrations/20251001000008_create_products_storage_bucket.sql
Labels: frontend, components, pages, backend, database, tests, config, dependencies, documentation

fix: improve admin dashboard UX and product table layout
  src/hooks/admin/useAdminProducts.ts
  src/pages/admin/AdminLayout.tsx
  src/pages/admin/AdminProducts.tsx
Labels: frontend, pages

fix: prevent bottom nav from overlapping page content
  src/components/BottomNav.tsx
  src/pages/Cart.tsx
Labels: frontend, components, pages

fix: add order_id to email queue for proper email processing
  supabase/functions/_shared/email-service.ts
Labels: backend, edge-functions

fix: queue emails immediately on order creation
  supabase/migrations/20251001000009_fix_email_trigger.sql
Labels: backend, database

fix: resolve email confirmation flow issues
  supabase/.temp/cli-latest
  supabase/functions/process-order/index.ts
  supabase/migrations/20251002000001_fix_email_trigger_validation.sql
Labels: backend, database, edge-functions

fix: resolve CSP worker blocking and admin function 404 errors
  netlify.toml
  scripts/check-db-functions.sql
  src/lib/admin/products.ts
  supabase/migrations/20251002000002_grant_admin_function_permissions.sql
Labels: frontend, backend, database

fix: correct SQL syntax in admin_upsert_product ON CONFLICT clause
  supabase/migrations/20251002000003_fix_admin_upsert_product_syntax.sql
Labels: backend, database

fix: correct timestamp type in admin_upsert_product function
  supabase/migrations/20251002000004_fix_admin_upsert_timestamp_types.sql
Labels: backend, database

fix: remove incorrect UUID-to-text casting in admin_upsert_product
  supabase/migrations/20251002000005_fix_admin_upsert_uuid_casting.sql
Labels: backend, database

fix: set valid QUEUE_PROCESSOR_TOKEN for email automation
  supabase/migrations/20251002000006_set_queue_processor_token.sql
Labels: backend, database

fix: admin product form schema audit and corrections
  ADMIN_PRODUCT_AUDIT.md
  src/pages/admin/components/AdminProductForm.tsx
  supabase/migrations/20251002000008_change_variant_price_to_numeric.sql
Labels: frontend, pages, backend, database, documentation

feat: implement Resend webhook signature verification and configuration
  RESEND_WEBHOOK_SETUP.md
  supabase/functions/resend-webhook/index.ts
Labels: backend, edge-functions, documentation

fix: add cdn.jsdelivr.net to CSP for browser-image-compression library
  netlify.toml
Labels: none

.github/labeler.yml:

# Configuration for auto-labeling PRs based on changed files

# Frontend labels
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.{ts,tsx,js,jsx}'
      - 'src/**/*.css'
      - 'public/**/*'

components:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**/*'

pages:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/pages/**/*'

styles:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.css'
      - 'tailwind.config.ts'
      - 'postcss.config.js'

# Backend labels
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/**/*'
      - 'src/integrations/supabase/**/*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/migrations/**/*'

edge-functions:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/functions/**/*'

# Testing labels
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.{ts,tsx,js,jsx}'
      - '**/*.spec.{ts,tsx,js,jsx}'
      - 'tests/**/*'
      - 'playwright.config.ts'
      - 'vitest.config.ts'

e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/e2e/**/*'
      - 'playwright.config.ts'

# Configuration labels
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.{js,ts}'
      - '.env*'
      - 'package.json'
      - 'tsconfig.json'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# Documentation labels
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Type labels based on specific patterns
bug:
  - head-branch:
    - '^fix/.*'
    - '^hotfix/.*'

feature:
  - head-branch:
    - '^feat/.*'
    - '^feature/.*'

enhancement:
  - head-branch:
    - '^enhance/.*'
    - '^improvement/.*'

chore:
  - head-branch:
    - '^chore/.*'
    - '^deps/.*'
